doctype html
html(lang='en')
    include ../common/head.pug
    +head("Login to Starter MVP")
    body
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src='/javascripts/admin.js')
        script(src='/javascripts/ajax.js')
        header
            include ../common/navbar.pug
            +navbar(user)
        .container
            .row
                .col-12
                    h1=h1
                    div.list-group(id="thisUpd")
                        li.list-group-item.bg-dark
                            .row
                                .col-9
                                    h4.mb-0.align-middle
                                        span.badge.text-light Test name
                        for item in tests
                            li.list-group-item(id=item.idTest)
                                .row
                                    .col-9
                                        h4.mb-0.align-middle
                                            span.badge=item.testName
                                    .col-3
                                        span.badge.text-right.w-100
                                                a(href="#" data-toggle="modal" data-target="#editTestModal" data-id=item.idTest)
                                                    img(src="https://img.icons8.com/wired/25/000000/edit.png")
                                                a.pl-2(href="#" data-toggle="modal" data-target="#deleteTestModal" data-id=item.idTest)
                                                    img(src="https://img.icons8.com/wired/25/000000/delete.png")
                                                a.pl-2(href="http://localhost:3000/admin/tests/"+item.idTest)
                                                    <img src="https://img.icons8.com/wired/25/000000/menu.png"/>

                    button(type="button" class="btn btn-dark w-100" data-toggle="modal" data-target="#addTestModal") Add new test                   

            div(class="modal fade" id="addTestModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true")
                div(class="modal-dialog" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title" id="addModalLabel")  Add test
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true")
                        div(class="modal-body")
                            .col-sm-12.col-md-12.col-xs-12
                                form(id="formAddTest")
                                    div.formgroup
                                        input(type="text", name="testName", placeholder='Please enter name new test').form-control
                                        select(name="subjectName", placeholder='Please select name new test' class="mt-2").form-control
                                            option(selected)=subject.subjectName
                                    div(class="modal-footer")
                                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                                        button(type="submit" class="btn btn-primary" id="addButtonTestModal") Add

            div(class="modal fade" id="editTestModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true")
                div(class="modal-dialog" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title" id="editModalLabel")  Edit test
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true")
                        div(class="modal-body")
                            .col-sm-12.col-md-12.col-xs-12
                                form(id="formEditTest")
                                    div.formgroup
                                        input(type="text", name="testName", placeholder='Please enter name new test').form-control
                                        select(name="subjectName", placeholder='Please select name new test' class="mt-2").form-control
                                            option(selected)=subject.subjectName
                                    div(class="modal-footer")
                                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                                        button(type="submit" class="btn btn-primary") Edit

            div(class="modal fade" id="deleteTestModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
                div(class="modal-dialog" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title" id="deleteModalLabel")  Delete test
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true")
                        div(class="modal-body")
                            h5 Are you sure?
                            .col-sm-12.col-md-12.col-xs-12
                                form(id="formDeleteTest")
                                    div.formgroup
                                    div(class="modal-footer")
                                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                                        button(type="submit" class="btn btn-primary") Delete

                                

        include ../common/footer.pug
        +footer()
        script(src='/javascripts/ajaxAdmin.js')
